{% extends 'base.html' %}
{% block content %}
    {% for game_image in game.gameimage_set.all %}
{#        <img src="{{ game_image.image }}" class="game-img" />#}
{#        <img class="game-img" src="{{ game.image }}" />#}
    {% endfor %}
    <h2 class="header">Cart</h2>
    <div class="cart-game">
        <ul id="cart-items">

        </ul>
    </div>
    <h4>Total Price: </h4>
    <div id="total_price">

    </div>
    <script>
         var cartRaw = localStorage.getItem('cart');
         var cart;
         if(cartRaw === null){
             cart = [];
         }
         else{
             cart = JSON.parse(cartRaw);
         }
         var cartitems = document.getElementById("cart-items")
         var totalprice = 0;
         for(i=0; i<cart.length;i++){

             element = document.createElement("li");
             var photo_element = document.createElement("img");
             photo_element.src=cart[i].image;
             element.appendChild(photo_element);
             var name_element = document.createElement("h4");
             name_element.textContent=cart[i].name;
             element.appendChild(name_element);
             var price_element = document.createElement("h4");
             price_element.textContent=cart[i].price;
             element.appendChild(price_element);
             cartitems.appendChild(element);
             totalprice += cart[i].price;
         }
         var totalprice_element = document.getElementById("total_price")
        totalprice_element.textContent=totalprice;
    </script>

    <div class="info-btns">
        <a class="left-btn" id="previous-page" href="/store">Go back to store</a>
        <a class="right-btn" id="previous-page" href="/checkout/contact_info">Continue to checkout</a>
        <a href="/cart"><button onclick="window.localStorage.removeItem('cart')" class="clear_btn" id="previous-page">Clear cart</button></a>
    </div>
    <div>
        <br><br><br><br><br><br><br><br><br><br><br>
    </div>
{% endblock %}