{% extends 'base.html' %}
{% block content %}

    <div class="cart">

        <div class="table-and-buttons">
            <table class="table">
                <thead>
                    <tr>
                        <td></td>
                        <td> Product </td>
                        <td> Quantity </td>
                        <td> Price </td>
                    </tr>
                </thead>

                <tbody>
                {% for cart in carts %}

                    <tr>
                        <td>
                            <a href="/store/{{ cart.games.id }}">
                                <img class="product-img-cart" src="{{ cart.games.gameimage_set.first.image }}">
                            </a>
                        </td>

                        <td>
                            <a href="/store/{{ cart.games.id }}">
                                <h4>{{ cart.games.name }} </h4>
                            </a>
                                {{ cart.games.short_description }} <br>
                                {{ cart.games.price }} $
                        </td>

                        <td>
                            <div class="cart-quantity" id="nice-number">
                                <div class="pull-left">
                                   <button onclick="location.href='{% url 'cart-index' %}';"class="decrease-cart"
                                           id="decrease" data-id="{{ cart.id }}">-</button>
                                </div>

                                    <input id="quantity" data-id="{{ cart.games.id }}" type="number"
                                           value="{{ cart.quantity }}" disabled>

                                <div class="pull-right">
                                    <button onclick="location.href='{% url 'cart-index' %}';"class="increase-cart"
                                            id="increase" data-id="{{ cart.id }}">+</button>
                                </div>

                            </div>
                        </td>

                        <td>
                            {% for games, price in eachItemTotal.items %}
                                {% if games == cart.games.id %}
                                    {{ price }}
                                {% endif %}
                            {% endfor %}
                        </td>

                        <td>
                            <button class="bth -bth-primary remove-cart-item-btn" id="remove-cart-item-btn"
                                    data-id="{{ cart.id }}"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button>
                        </td>

                    </tr>

                {% endfor %}

                </tbody>
                <td id="total" colspan="3"> <h4>Total:</h4></td>
                <td id="total" colspan="2"> <h4> {{ sumTotal }} </h4></td>

            </table>
            <a class="btn -btn-primary" id="previous-page" href="{% url 'game-index' %}">Go back to store</a>
            <a class="btn -btn-primary" id="contact-info" href="{% url 'checkout-index' %}">Proceed to next step</a>
        </div>
    
    </div>

{% endblock %}