body{
    margin: 0;
    padding: 0;
    height: 100%;
}

main{
    padding-bottom: 3%;
}

footer {
    width: 100%;
    background-color: #58a6b1;
    border: 1px solid #000000;
    position:fixed;
    bottom:0;
}

.captain{
    background-color: #474d56 ;
    border: solid 2px rgba(155,155,155,.5);
}

.logo{
    max-height: 90px;
    max-width: 90px;
    width: 80px;
    height: 80px;
    display: block;
    padding-bottom: 8px;
}

.navbar-collapse {
    padding-top: 40px;
}

.navbar-header{
    display: inline-flex;
    color: black;
    padding-top: 3%;
}

.text{
    color: black;
    padding: 3px;
}

.container-fluid{
    height: 100px;
    bottom: auto;
    display: inline-flex;
}

.frontpagepic {
    padding-left: 12%;
}

#aboutUs {
    text-align: justify;
    padding-left: 4%;
    padding-top: 20px;
}

#contact {
    text-align: right;
    padding-bottom: 5px;
}

#email {
    color: #353535;
}

.footerBox {
    vertical-align: top;
    width:48%;
    display: inline-block;
    box-sizing: border-box;
    background-color: #58a6b1;
}

.input {
    text-align: center;
    padding-top: 4%;
}

.form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.register-input {
    background-color: lightgrey;
}

#id_username {
    background-color: lightgrey;
}

#id_password {
    background-color: lightgrey;
}

#button {
    background-color: #58a6b1;
    border-radius: 15px;
    border: solid black 1px;
}

.right-buttons {
    float: right;
    margin-top: 5%;
    margin-right: 2%

}

#legend {
    text-align: left;
    margin-left: 3%;

}

#img {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.store-header {
    background-color: rgba(69,147,177,0.35);
}

.store-list {
    display:flex;
    list-style:none;
}

#storeli{
    margin: 10px;
    padding-right: 20px;
    color: black;
    font-size: 18px;
}

.allproducts {
    display: inline-flex;
    padding-left: 30px;
}

#orderby {
    margin: 2px;
    margin-top: 10px;
}

#imgmove {
    margin-left: 7%;
}

.edit {
    margin-left: 3%;
    margin-top: 3%;
}

.game-img {
    width:  200px;
    height: 200px;
    background-size: cover;
    margin: 20px;
}

.user-img {

    height: 200px;
    background-size: cover;
    margin: 20px;
}

.well-game {
    display: inline-flex;
    margin-left: 12%;
    margin-top: 5%;
    text-align: center;
}

.gamedescription {
    margin-left: 5%;
    margin-top: 5%;
}
.kristjan {
    display: inline-flex;
}

#devdes {
    width: 40%;
    margin-left: 5%;
    font-size: large;
}

#price {
    font-weight: bold;
    font-size: 20px;
    margin-left: 5%;
}

.input-group {
    margin-left: 10%;
}

.cart-btn {
    margin-left: 45%;
    border-style: solid;
    border-width: thin;
    padding: 1%;
    background-color: #58a6b1;
    border-color: black;
    border-radius: 10px;
    color: black;
}

.info-btns {
    display: inline-flex;
}

.left-btn {
    margin-right: 10%;
    margin-top: 10%;
    border-style: solid;
    border-width: thin;
    padding: 1%;
    background-color: #58a6b1;
    border-color: black;
    border-radius: 10px;
    color: black;
    text-align: center;
}

.right-btn {
    margin-top: 10%;
    border-style: solid;
    border-width: thin;
    padding: 1%;
    background-color: #58a6b1;
    border-color: black;
    border-radius: 10px;
    color: black;
    width: 50%;
    text-align: center;
}

#total_price {
    font-size: larger;
    margin-left: 8%;
    font-weight: bold;
}

.btn {
    background-color: rgba(69,147,177,0);
    font-size: medium;
}

.buy {
    margin-top: 22%;
    border-style: solid;
    border-width: thin;
    padding: 1%;
    background-color: #58a6b1;
    border-color: black;
    border-radius: 10px;
    color: black;
    text-align: center;
}

.buy-btns {
    display: inline-flex;
    margin-left: 26%;
}


