{% extends "base.html" %}
{% block content %}
    <div class="gamedescription">
        <div class="kristjan">
            {% for game_image in game.gameimage_set.all %}
                <img src="{{ game_image.image }}" class="game-img" />
            {% endfor %}
            <div id="devdes">
                <h1>{{ game.name }}</h1>
                <p><b>Description</b></p>
                <p>{{ game.description }}</p>
                <p><b>Developer:</b> {{ game.developer.name }}</p>
            </div>
        </div>
        <p id="price">Price: {{ game.price }}$</p>
    </div>
    {% if request.user.is_superuser or request.user.is_staff %}
    <div class="button">
        <a href="{% url 'delete_game' game.id %}" class="block btn btn-primary">Delete game </a>
    </div>
    <div class="button">
        <a href="{% url 'update_game' game.id %}" class="block btn btn-primary">Update game </a>
    </div>
    {% endif %}
        <script>
            function add_to_cart(){
                var cartRaw = localStorage.getItem('cart');
                var cart;
                if(cartRaw === null){
                    cart = [];
                }
                else{
                    cart = JSON.parse(cartRaw);
                }
                cart.push({
                    id:{{ game.id }},
                    image:"{{ game.image }}",
                    name:"{{ game.name }}",
                    price:{{ game.price }},
                })
                localStorage.setItem("cart", JSON.stringify(cart));

            }
            function buyproduct() {
                var product = localStorage.setItem("product", {{ game.id }});

                window.location.href = 'http://127.0.0.1:8000/checkout/contact_info';
            }
        </script>

    <div class="buy-btns">
        <button onclick="add_to_cart()" class="left-btn" id="cart-btn">Add to cart</button>

            <button onclick="buyproduct()" class="buy" id="cart-btn">Buy product</button>

    </div>


{% endblock %}