{% extends 'base.html' %}
{% block content %}
    <div class="store-header">
      <ul class="store-list">
        <li id="storeli"><button class="btn" onclick="filterSelection('all')">All products</button></li>
        <li id="storeli"><button class="btn" onclick="filterSelection('capcom')">Capcom</button></li>
        <li id="storeli"><button class="btn" onclick="filterSelection('gamefreak')">Game Freak</button></li>
        <li id="storeli"><button class="btn" onclick="filterSelection('hallaboratory')">HAL Laboratory</button></li>
        <li id="storeli"><button class="btn" onclick="filterSelection('konami')">Konami</button></li>
        <li id="storeli"><button class="btn" onclick="filterSelection('nintendo')">Nintendo</button></li>
        <li id="storeli"><button class="btn" onclick="filterSelection('sega')">Sega</button></li>
      </ul>
    </div>
    <div class="allproducts">
        <h4>All products</h4>
        <form class="allproducts">
             <p id="orderby">Order by:</p>
             <select name = "dropdown">
                 <option value = "Price" selected><a href="#">Price</a></option>
                 <option value = "Name"><a href="#">Name</a></option>
            </select>
        </form>
        <div class="input-group">
            <input type="search" class="form-control" id="search-box" placeholder="Enter your search here.." />
            <div class="input-group-btn">
                <button type="button" id="search-btn" class="btn btn-default">Search</button>
            </div>
        </div>
    </div>
    <div class="games">
        {% for xgame in games %}
            {% include 'game/single_game.html' with zgame=xgame %}
        {% endfor %}
    </div>
    <div>
        <br><br><br><br><br><br><br><br><br><br><br>
    </div>

{% endblock %}