{% extends 'base.html' %}
{% block content %}
    <form>
    <div class="store-header">
      <ul class="store-list">
        <li id="storeli"><button class="btn" onclick="filterSelection('all')">All products</button></li>
        <li id="storeli"><button class="btn" onclick="filterSelection('capcom')">Capcom</button></li>
        <li id="storeli"><button class="btn" onclick="filterSelection('gamefreak')">Game Freak</button></li>
        <li id="storeli"><button class="btn" onclick="filterSelection('hallaboratory')">HAL Laboratory</button></li>
        <li id="storeli"><button class="btn" onclick="filterSelection('konami')">Konami</button></li>
        <li id="storeli"><button class="btn" onclick="filterSelection('nintendo')">Nintendo</button></li>
        <li id="storeli"><button class="btn" onclick="filterSelection('sega')">Sega</button></li>
      </ul>
    </div>
    <div class="allproducts">
        <h4 id='all'>All products</h4>
             <p id="orderby">Order by:</p>
             <select name="orderby_dropdown" onchange="this.form.submit()">
                <option value="name"{% if request.GET.orderby_dropdown == "name" %} selected{% endif %}><a href="#">Name</a></option>
                 <option value="price" {% if request.GET.orderby_dropdown == "price" %} selected{% endif %}><a href="#">Price</a></option>
            </select>
        <div class="input-group">
            <input type="search" class="form-control" id="search-box" class="search-boks" placeholder="Enter your search here.." />
            <button type="button" id="search-btn" class="btn btn-default">Search</button>
        </div>
    </div>
    </form>
    <div class="games">
        {% for xgame in games %}
            {% include 'game/single_game.html' with zgame=xgame %}
        {% endfor %}
    </div>
    <div>
        <br><br><br><br><br><br><br><br><br><br><br>
    </div>

    <script>
     function history(zgame) {
         var historyRaw = localStorage.getItem('history');
                var history;
                if(historyRaw === null){
                    history = [];
                }
                else{
                    history = JSON.parse(historyRaw);
                }
                history.push({
                    id: zgame.id,
                    image:zgame.image,
                    name:zgame.name,
                    price:zgame.price,
                })
                localStorage.setItem("history", JSON.stringify(history));

         window.location.href = '/store/' + zgame.id;

     }
    </script>

{% endblock %}