{% extends 'base.html' %}
{% block content %}
    <div class="store-header">
      <ul class="store-list">
        <a href="#"><li id="storeli">Capcom</li></a>
        <a href="#"><li id="storeli">Game Freak</li></a>
        <a href="#"><li id="storeli">HAL Laboratory</li></a>
        <a href="#"><li id="storeli">Konami</li></a>
        <a href="#"><li id="storeli">Nintendo</li></a>
        <a href="#"><li id="storeli">Sega</li></a>
        <a href="/store"><li id="storeli">All products</li></a>
      </ul>
    </div>
    <div class="allproducts">
        <h4>All products</h4>
        <form class="allproducts">
             <p id="orderby">Order by:</p>
             <select name = "dropdown">
                 <option value = "Price" selected><a href="#">Price</a></option>
                 <option value = "Name"><a href="#">Name</a></option>
            </select>
        </form>
        <div class="input-group">
            <input type="search" class="form-control" id="search-box" placeholder="Enter your search here.." />
            <div class="input-group-btn">
                <button type="button" id="search-btn" class="btn btn-default">Search</button>
            </div>
        </div>
    </div>
    <div class="games">
        {% for xgame in games %}
            {% include 'game/single_game.html' with zgame=xgame %}
        {% endfor %}
    </div>
    <div>
        <br><br><br><br><br><br><br><br><br><br><br>
    </div>

{% endblock %}