<footer>
    <div class="footerBox" id="aboutUs">
      <h3>ABOUT US</h3>
      <p>
          Captain Console is a new retro gaming shop. <br />
          We sell everything from ZX Spectrum to Gameboy. <br />
          Ready, set, GO...
      </p>
    </div>
    <div class="footerBox" id="contact">
        <h3>CONTACT</h3>
        <p>
        Captain Console <br />
        Industrial Ave 201<br />
        1103 Down Town<br />
        Tel: 001 555 666 15<br />
        <a id="email" href="mailto:captainconsole@console.inc">captainconsole@console.inc</a>
        </p>
    </div>
</footer>