{% extends 'base.html' %}
{% block content %}
    <div class="input">
        <h4 id="legend"> Checkout - Card information </h4><br><br>
        <!-- <form class="form" action=""  method="get"> -->
            <label for="cardholder">Cardholder:</label>
            <input type="text" id="cardholder" name="cardholder"><br><br>
            <label for="cardnr">Card number:</label>
            <input type="text" id="cardnr" name="cardnr" maxlength="16"><br><br>
            <form id="myform" method="post" action="default.html" onsubmit="return Validate(this);">
                <label for="ExpMon">Expiration date: Month:</label>
                <select name="ExpMon" id="ExpMon" title="select a month">
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                        <option value="6">06</option>
                        <option value="7">07</option>
                        <option value="8">08</option>
                        <option value="9">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                 </select>

                 <label for="ExpYear">Year:</label>
                 <select name="ExpYear" id="ExpYear" title="select a year">
                     <option value="2020">2020</option>
                     <option value="2021">2021</option>
                     <option value="2022">2022</option>
                     <option value="2023">2023</option>
                     <option value="2024">2024</option>
                     <option value="2025">2025</option>
                     <option value="202">2026</option>
                     <option value="2025">2027</option>
                     <option value="2025">2028</option>
                </select>
                </form>
            <br><br><label for="cvc">CVC:</label>
            <input type="text" id="cvc" name="cvc" maxlength="3"><br><br>

            <div class="info-btns">
                <a class="left-btn" id="previous-page" href="/checkout/contact_info">Go back to contact information</a>
                <button onclick="review_info()" class="left-btn" id="cart-btn">Review information</button>
            </div>

            <script>
            function review_info() {
              var tempholder=  document.getElementById('cardholder').value;
                localStorage.setItem("cardholder", tempholder );
                var tempcard=  document.getElementById('cardnr').value;
                localStorage.setItem("cardnr", tempcard);
                var tempexpm=  document.getElementById('ExpMon').value;
                localStorage.setItem("expm", tempexpm);
                var tempexpy =  document.getElementById('ExpYear').value;
                localStorage.setItem("expy", tempexpy);
                var tempcvc=  document.getElementById('cvc').value;
                localStorage.setItem("cvc", tempcvc);
                window.location.href = '/checkout/review_info';
            }

            </script>
        <!-- </form> -->
    </div>
    <div>
        <br><br><br><br><br><br><br><br><br><br><br>
    </div>
{% endblock %}