{% extends 'base.html' %}
{% block content %}

    <body onload="getreviewData()">

        <div class="table-and-buttons">
            <h4 id="legend"> Checkout - Review step</h4>
            <table id="review-table" class="table">


                <tr>
                    <td>Personal Information:</td>
                    <td>
                        <b>Name: </b><input class="no-outline" id="name" readonly><br>
                        <b>Address: </b><input class="no-outline" id="address" readonly><br>
                        <b>City: </b><input class="no-outline" id="city" readonly><br>
                        <b>Postal code: </b><input class="no-outline" id="postal" readonly><br>
                        <b>Country: </b><input class="no-outline" id="country" readonly><br>
                    </td>
                </tr>
                <tr>
                    <td>Payment Information:</td>
                    <td>
                        <b>Cardholder: </b><input class="no-outline" id="cardholder" readonly><br>
                        <b>Card number: </b><input class="no-outline" id="cardnr" readonly><br>
                        <b>Exp month: </b><input class="no-outline" id="expm" readonly><br>
                        <b>Exp year: </b><input class="no-outline" id="expy" readonly><br>
                        <b>CVC: </b><input class="no-outline" id="cvc" readonly><br>
                    </td>
                </tr>
                <tr>
                    <td>Product name:</td>
                    <td>

                        <b>Price: </b>
                    </td>
                </tr>



            </table>
            <h4>Total price: <span id="total_price"></span></h4>
        </div>
            <div class="info-btns">
                <a class="left-btn" id="previous-page" href="/checkout/payment_info">Go back to payment</a>
                <a class="right-btn" id="create-order" href="/checkout/confirmation">Confirm order</a>
            </div>
      <script>

         var cartRaw = localStorage.getItem('cart');
         var cart;
         if(cartRaw === null){
             cart = [];
         }
         else{
             cart = JSON.parse(cartRaw);
         }
         var cartitems = document.getElementById("review-table").children[0]
         var totalprice = 0;
         for(i=0; i<cart.length;i++){

             element = document.createElement("tr");
             {#var photo_element = document.createElement("img");#}
             {#photo_element.src=cart[i].image;#}
             {#element.appendChild(photo_element);#}
             var name_element = document.createElement("td");
             name_element.textContent=cart[i].name;
             element.appendChild(name_element);
             var price_element = document.createElement("td");
             price_element.textContent=cart[i].price;
             element.appendChild(price_element);
             cartitems.appendChild(element);
             totalprice += cart[i].price;
         }
         var totalprice_element = document.getElementById("total_price")
        totalprice_element.textContent=totalprice;


                    function getreviewData() {

                        var getcountry = window.localStorage.getItem("country");
                        document.getElementById("country").value = getcountry;

                        var getaddress = window.localStorage.getItem("address");
                        document.getElementById("address").value = getaddress;

                        var getcardholder = window.localStorage.getItem("cardholder");
                        document.getElementById("cardholder").value = getcardholder;

                        var getcardnr = window.localStorage.getItem("cardnr");
                        document.getElementById("cardnr").value = getcardnr;

                        var getcity = window.localStorage.getItem("city");
                        document.getElementById("city").value = getcity;

                        var getcvc = window.localStorage.getItem("cvc");
                        document.getElementById("cvc").value = getcvc;

                        var getexpm = window.localStorage.getItem("expm");
                        document.getElementById("expm").value = getexpm;

                        var getexpy = window.localStorage.getItem("expy");
                        document.getElementById("expy").value = getexpy;

                        var getname = window.localStorage.getItem("name");
                        document.getElementById("name").value = getname;

                        var getpostal = window.localStorage.getItem("postal");
                        document.getElementById("postal").value = getpostal;
                        {##}
                        {#var getproduct = window.localStorage.getItem("product");#}
                        {#document.getElementById("product").value = getproduct;#}
                        {##}
                        {#var getprodprice = window.localStorage.getItem("price");#}
                        {#document.getElementById("price").value = getprodprice;#}
                        {##}
                        {#var getprodname = window.localStorage.getItem("prodname");#}
                        {#document.getElementById("prodname").value = getprodname;#}
                    }

                </script>

    </body>

{% endblock %}