{% extends 'base.html' %}
{% block content %}

    <body onload="getreviewData()">
        <div class="table-and-buttons">
            <h4 id="legend"> Checkout - Review step</h4>
            <table class="table">


                <tr>
                    <td>Product:</td><td><input id="country" readonly></td>
                </tr>
                <tr>
                    <td>Price</td><td></td>
                </tr>

                <script>
                    function getreviewData() {
                        var getcountry = localStorage.getItem("country");
                        document.getElementById("country").setAttribute(value,"x");
                        element = document.createElement("div");
                        name_elem.textContent = getcountry.country;
                        element.appendChild(name_elem);

                    }

                </script>


            </table>
        </div>
            <div class="info-btns">
                <a class="left-btn" id="previous-page" href="/checkout/payment_info">Go back to payment</a>
                <a class="right-btn" id="create-order" href="/checkout/confirmation">Confirm order</a>
            </div>

    </body>

{% endblock %}