{% extends 'base.html' %}
{% block content %}

    <body onload="getreviewData()">
        <div class="table-and-buttons">
            <h4 id="legend"> Checkout - Review step</h4>
            <table class="table">


                <tr>
                    <td>Personal Information:</td>
                    <td>
                        <b>Name: </b><input class="no-outline" id="name" readonly><br>
                        <b>Address: </b><input class="no-outline" id="address" readonly><br>
                        <b>City: </b><input class="no-outline" id="city" readonly><br>
                        <b>Postal code: </b><input class="no-outline" id="postal" readonly><br>
                        <b>Country: </b><input class="no-outline" id="country" readonly><br>
                    </td>
                </tr>
                <tr>
                    <td>Payment Information:</td>
                    <td>
                        <b>Cardholder: </b><input class="no-outline" id="cardholder" readonly><br>
                        <b>Card number: </b><input class="no-outline" id="cardnr" readonly><br>
                        <b>Exp month: </b><input class="no-outline" id="expm" readonly><br>
                        <b>Exp year: </b><input class="no-outline" id="expy" readonly><br>
                        <b>CVC: </b><input class="no-outline" id="cvc" readonly><br>
                    </td>
                </tr>
                <tr>
                    <td>Product:</td>
                    <td>
                        <b>Product ID: </b> <input class="no-outline" id="product" readonly><br>
                        <b>Price: </b> <input class="no-outline" placeholder="10$" id="price" readonly><br>
                    </td>
                </tr>

                <script>
                    function getreviewData() {

                        var getcountry = window.localStorage.getItem("country");
                        document.getElementById("country").value = getcountry;

                        var getaddress = window.localStorage.getItem("address");
                        document.getElementById("address").value = getaddress;

                        var getcardholder = window.localStorage.getItem("cardholder");
                        document.getElementById("cardholder").value = getcardholder;

                        var getcardnr = window.localStorage.getItem("cardnr");
                        document.getElementById("cardnr").value = getcardnr;

                        var getcity = window.localStorage.getItem("city");
                        document.getElementById("city").value = getcity;

                        var getcvc = window.localStorage.getItem("cvc");
                        document.getElementById("cvc").value = getcvc;

                        var getexpm = window.localStorage.getItem("expm");
                        document.getElementById("expm").value = getexpm;

                        var getexpy = window.localStorage.getItem("expy");
                        document.getElementById("expy").value = getexpy;

                        var getname = window.localStorage.getItem("name");
                        document.getElementById("name").value = getname;

                        var getpostal = window.localStorage.getItem("postal");
                        document.getElementById("postal").value = getpostal;

                        var getproduct = window.localStorage.getItem("product");
                        document.getElementById("product").value = getproduct;

                        var getprodprice = window.localStorage.getItem("price");
                        document.getElementById("price").value = getprodprice;

                        var getprodname = window.localStorage.getItem("prodname");
                        document.getElementById("prodname").value = getprodname;
                    }

                </script>


            </table>
        </div>
            <div class="info-btns">
                <a class="left-btn" id="previous-page" href="/checkout/payment_info">Go back to payment</a>
                <a class="right-btn" id="create-order" href="/checkout/confirmation">Confirm order</a>
            </div>

    </body>

{% endblock %}